---
layout: page
title: "About"
description: "Hey, this is AH."
header-img: "img/about-bg.jpg"
---

<div>
	<p>
	<font size="5"><strong>On Joy and Sorrow</strong></font></br>
	<font size="3">By Kahill Gilbran</font>
	</p>

    <p>
    Then a woman said, "Speak to us of Joy and Sorrow."</br>
    And he answered: Your joy is your sorrow unmasked.</br>
    And the selfsame well from</br>
    Which your laughter rises was oftentimes filled with your tears.
    </p>

    <p>
    And how else can it be?</br>
    The deeper that sorrow carves into your being,</br>
    The more joy you can contain.</br>
    Is not the cup that hold your wine the very cup</br>
    That was burned in the potter's over?</br>
    And is not the lute that soothes your spirit,</br>
    The very wood that was hollowed with knives?
    </p>

    <p>
    When you are joyous, look deep into your heart and</br>
    You shall find it is only that which has given</br>
    Your sorrow that is giving you joy.</br>
    When you are sorrowful look again in your heart,</br>
    And you shall see that in truth you are weeping for</br>
    That which has been your delight.
    </p>

    <p>
    Some of you say, "Nay, sorrow is the greater."</br>
    But I say unto you, they are inseparable.</br>
    Together they come, and when one sits alone with you at your board.</br>
    Remember that the other is asleep upon your bed.
    </p>

    <p>
    Verily you are suspended like scales</br>
    Between your sorrow and your joy.</br>
    Only when you are empty are you at standstill and balanced,</br>
    When the treasure-keeper lifts you to weigh.</br>
    His gold and his silver, needs must your</br>
    Joy or your sorrow rise or fall.
    </p>

</div>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
